section{
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.MRightSide{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.BRightSide{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.RightSide{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    flex-basis: 33.75%;
    margin-right: 9%;
}

.LeftSide{
    flex-basis: 43% /*47%*/;
    height: 95%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    /* gap: 6.8%; */
    background-color: #3AC6EB;
    border-radius: 45px;
    margin-left: 1.5%;
}

img{width: 71,7%;height: 57%;}
.slogan{margin-top: 6.8%;}
.logo{margin-left: 5%;margin-bottom: 14.55%;}
/* .logo{margin-top: 50px;} */
