.admin h1{
    font-family: Montserrat;
    font-weight: 900;
    font-size: xx-large;
    color: #102B3E;
}

.admin{
    padding: 5% 7% 0 7%;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    margin: 30px 0;
}

.buttons button{
    background-color: #EE4A6A;
    color: white;
    border-radius: 44px;
    width: 20%;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 1em;
    padding: 10px;
}

th{
    background-color: #102B3E;
    color: white;
    text-decoration: underline;
    font-weight: lighter;
    font-family: Montserrat;
    padding: 8px;
    text-align: center;
}

tr{text-align: center;font-family: Montserrat;}

table{
    width: 100%;
    border: 1px solid #102B3E;
    margin-bottom: 30px;
}



  
